In [1]:
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.tree import DecisionTreeRegressor

In [20]:
train=pd.read_csv('D:\\documents\\Participants_Dataset (1)\\train.csv')

In [21]:
test=pd.read_csv('D:\\documents\\Participants_Dataset (1)\\test.csv')

In [22]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35000 entries, 0 to 34999
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   trip_distance            35000 non-null  float64
 1   rate_code                35000 non-null  int64
 2   store_and_fwd_flag       35000 non-null  object
 3   payment_type             35000 non-null  int64
 4   fare_amount              35000 non-null  float64
 5   extra                    35000 non-null  float64
 6   mta_tax                  35000 non-null  float64
 7   tip_amount               35000 non-null  float64
 8   tolls_amount             35000 non-null  float64
 9   imp_surcharge            35000 non-null  float64
 10  total_amount             35000 non-null  float64
 11  pickup_location_id       35000 non-null  int64
 12  dropoff_location_id      35000 non-null  int64
 13  year                     35000 non-null  int64
 14  month                    35000 non-null  int64
 15  day                      35000 non-null  int64
 16  day_of_week              35000 non-null  int64
 17  hour_of_day              35000 non-null  int64
 18  trip_duration            35000 non-null  float64
 19  calculated_total_amount  35000 non-null  float64
dtypes: float64(10), int64(9), object(1)
memory usage: 5.3+ MB

In [23]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_distance        15000 non-null  float64
 1   rate_code            15000 non-null  int64
 2   store_and_fwd_flag   15000 non-null  object
 3   payment_type         15000 non-null  int64
 4   fare_amount          15000 non-null  float64
 5   extra                15000 non-null  float64
 6   mta_tax              15000 non-null  float64
 7   tip_amount           15000 non-null  float64
 8   tolls_amount         15000 non-null  float64
 9   imp_surcharge        15000 non-null  float64
 10  total_amount         15000 non-null  float64
 11  pickup_location_id   15000 non-null  int64
 12  dropoff_location_id  15000 non-null  int64
 13  year                 15000 non-null  int64
 14  month                15000 non-null  int64
 15  day                  15000 non-null  int64
 16  day_of_week          15000 non-null  int64
 17  hour_of_day          15000 non-null  int64
 18  trip_duration        15000 non-null  float64
dtypes: float64(9), int64(9), object(1)
memory usage: 2.2+ MB

In [24]:
test.isnull().sum()

trip_distance          0
rate_code              0
store_and_fwd_flag     0
payment_type           0
fare_amount            0
extra                  0
mta_tax                0
tip_amount             0
tolls_amount           0
imp_surcharge          0
total_amount           0
pickup_location_id     0
dropoff_location_id    0
year                   0
month                  0
day                    0
day_of_week            0
hour_of_day            0
trip_duration          0
dtype: int64

In [25]:
train['store_and_fwd_flag'].value_counts()

N    34823
Y      177
Name: store_and_fwd_flag, dtype: int64

In [26]:
test['store_and_fwd_flag'].value_counts()

N    14916
Y       84
Name: store_and_fwd_flag, dtype: int64

In [27]:
final_df=pd.concat([train,test],axis=0)

In [28]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 14999
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   trip_distance            50000 non-null  float64
 1   rate_code                50000 non-null  int64
 2   store_and_fwd_flag       50000 non-null  object
 3   payment_type             50000 non-null  int64
 4   fare_amount              50000 non-null  float64
 5   extra                    50000 non-null  float64
 6   mta_tax                  50000 non-null  float64
 7   tip_amount               50000 non-null  float64
 8   tolls_amount             50000 non-null  float64
 9   imp_surcharge            50000 non-null  float64
 10  total_amount             50000 non-null  float64
 11  pickup_location_id       50000 non-null  int64
 12  dropoff_location_id      50000 non-null  int64
 13  year                     50000 non-null  int64
 14  month                    50000 non-null  int64
 15  day                      50000 non-null  int64
 16  day_of_week              50000 non-null  int64
 17  hour_of_day              50000 non-null  int64
 18  trip_duration            50000 non-null  float64
 19  calculated_total_amount  35000 non-null  float64
dtypes: float64(10), int64(9), object(1)
memory usage: 8.0+ MB

In [29]:
final_df=final_df.replace({'store_and_fwd_flag' : { 'N' : 0, 'Y' : 1}})

In [30]:
df_Train=final_df.iloc[:35000,:]
df_Test=final_df.iloc[35000:,:]

In [31]:
df_Train.isnull().sum()

trip_distance              0
rate_code                  0
store_and_fwd_flag         0
payment_type               0
fare_amount                0
extra                      0
mta_tax                    0
tip_amount                 0
tolls_amount               0
imp_surcharge              0
total_amount               0
pickup_location_id         0
dropoff_location_id        0
year                       0
month                      0
day                        0
day_of_week                0
hour_of_day                0
trip_duration              0
calculated_total_amount    0
dtype: int64

In [32]:
df_Test.drop(['calculated_total_amount'],axis=1,inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_8112\489001993.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Test.drop(['calculated_total_amount'],axis=1,inplace=True)

In [33]:
X_train=df_Train.drop(['calculated_total_amount'],axis=1)
y_train=df_Train['calculated_total_amount']

In [34]:
dtc=DecisionTreeRegressor()

In [35]:
estimators = [
('standardscalar',StandardScaler()),
('pca', PCA(2)),
('dtc', dtc)
]

In [36]:
dtc_pipeline = Pipeline(steps=estimators)

In [37]:
dtc_pipeline.fit(X_train,y_train)

Pipeline(steps=[('standardscalar', StandardScaler()),
                ('pca', PCA(n_components=2)),
                ('dtc', DecisionTreeRegressor())])

In [38]:
dtc_pipeline.score(X_train,y_train)

-0.4910639452232648

In [42]:
params = {
    'dtc__max_depth': [3,5,8,12,15],
    'dtc__min_samples_leaf': [5,8,12,15,20],
    'dtc__criterion': ["gini", "entropy"]
}

In [43]:
from sklearn.model_selection import GridSearchCV
import numpy as np

In [44]:
grid_search = GridSearchCV(dtc_pipeline, param_grid=params,verbose = 1, cv=3, n_jobs = -1)

In [45]:
import xgboost
regressor=xgboost.XGBRegressor()

In [46]:
booster=['gbtree','gblinear']
base_score=[0.25,0.5,0.75,1]

In [47]:
## Hyper Parameter Optimization


n_estimators = [100, 500, 900, 1100]
max_depth = [2, 3, 5, 10, 15]
booster=['gbtree','gblinear']
learning_rate=[0.05,0.1,0.15,0.20]
min_child_weight=[1,2,3,4]

# Define the grid of hyperparameters to search
hyperparameter_grid = {
    'n_estimators': n_estimators,
    'max_depth':max_depth,
    'learning_rate':learning_rate,
    'min_child_weight':min_child_weight,
    'booster':booster,
    'base_score':base_score
    }

In [49]:
Grid_cv = GridSearchCV(estimator=regressor,
            param_grid=hyperparameter_grid,
            cv=3, 
            scoring = 'neg_mean_absolute_error',n_jobs = 4,
            verbose = 5, 
            return_train_score = True)

In [ ]:
Grid_cv.fit(X_train,y_train)

Fitting 3 folds for each of 2560 candidates, totalling 7680 fits